<!doctype html>
{% load static %}

<html lang="en">
  <head>
  	<title>Contact Form 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/stylesignin.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">CONNECTION</h2>
				</div>
			</div>
		<div class="row justify-content-center">
				<div class="col-lg-10 col-md-12">
					<div class="wrapper">
						<div class="row justify-content-center">

							<div class="col-lg-8">
								<div class="contact-wrap">
									<form action="/admin" method="post"  name="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<input type="text" id="username" name="username" class="form-control"  placeholder="surnom" required>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="password" id="password" name="password" class="form-control"  placeholder="mots de passe" required>
												</div>
											</div>


											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="connecter" class="btn " style="background-color:rgb(255, 115, 0); color:white;font-size:18px;">
												</div>

											</div>
										</div>
									</form>
									</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>


<!--<form action="/signin" method="post">
    {% csrf_token %}
    <label for="username">Nom</label>
    <input type="text" id="username" name="username" placeholder="Enter your username " required>
    <br><br>
    <label for="password">Mots passe</label>
    <input type="password" id="password" name="password" placeholder="Enter your password here" required>
    <br><br>

   <button type="submit">Sign In</button>

</form>-->