<!doctype html>
{% load static %}

<html lang="en">
  <head>
  	<title>Contact Form 09</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/stylesignin.css' %}">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>	</head>
  <style>
body{
background-color:black;
        }
  </style>
	<body>



    <div class="col-md-12" style="text-align:center;">
      <h1 style="color:white; text-align:center; font-weight:900;font-size:3.3em; text-shadow:0 0 30px rgb(255, 115, 0); ">BIENVENU SUR LA BIBLIOTHEQUE VIRTUEL <span style="color:rgb(255, 115, 0);">ODC</span> </h1>


    </div>


    {% if user.is_authenticated %}
 <div class="form-group">
        <button type="submit" class="btn " style="background-color:rgb(255, 115, 0); "><a href="/signout" style="color:white;font-size:18px;">Deconnecter</a></button>
      </div>
{% endif %}
    <div class="t" style="position:absolute; right:0; width:140vh; text-align:center;">
        <img src="{% static 'play-book.gif' %}" style="border-radius:10px">
                <p style="margin-top:80px ; color:rgb(255, 115, 0); font-size:22px">Vous pouvez acceder a gauche au differentes formation offert par Orange Digital Center ,en cliquant sur telecharger</p>

    </div>

{% for element in profile %}



        <div class="container">
          <div class="row blog">
            <div class="">
              <div id="blogCarousel" class="carousel slide container-blog" data-ride="carousel">

                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row" >
                      <div class="col-md-4" >
                        <div class="item-box-blog" style="background-color:white;">
                          <div class="item-box-blog-image">
                            <!--Date-->
                            <!--Image-->
                            <figure> <img alt="" src="https://scontent.foua1-1.fna.fbcdn.net/v/t39.30808-6/287492703_173905351758495_1423780196371326808_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGNJt8geMCCpL8Gh66b27-3vXzBiEs9NYu9fMGISz01iwB3wm1e2UimlE1tl-C5FDSXid3mqMifcozc0ZkLiKCj&_nc_ohc=Dbgb6TvoFk0AX8PqWiS&_nc_zt=23&_nc_ht=scontent.foua1-1.fna&oh=00_AfAyxP6NHg_HRVWW9drrjZ21TlpqgYj16AaSF7-4A-ZUvQ&oe=63A108CA"> </figure>
                          </div>
                          <div class="item-box-blog-body">
                            <!--Heading-->
                            <div class="item-box-blog-heading">
                              <a href="#" tabindex="0">
                                <h4 style="color:black; margin-top:-10px"><strong>{{ element.nom }}</strong></h4>
                              </a>
                            </div>
                            <!--Data-->
                            <div class="item-box-blog-data" style="padding: px 15px;">
                            </div>
                            <!--Text-->
                            <div class="item-box-blog-text">
                                    <p>{{ element.description }}</p>                            </div>
                            <div class="mt" > <a href="{{ element.id }}" tabindex="0" style="background-color:rgb(255, 115, 0);" class="btn  white ">telecharger</a> </div>
                            <!--Read More Button-->
                          </div>
                        </div>
                      </div>


                    </div>
                    <!--.row-->
                  </div>
                  <!--.item-->
                </div>
                <!--.carousel-inner-->
              </div>
              <!--.Carousel-->
            </div>
          </div>
        </div>
{% endfor %}










 <script src="{% static 'js/javascripte.js' %}"></script>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
	</body>
</html>












